#########################
### USER-CONFIGURABLE ###
#########################

# there shouldn't be anything in the target .toml, it's all templates!
{{/* Base prompts */}}
{{- writeToStdout (printf "%s %s %s %s\n"
    "You will be asked"
        (includeTemplate "colorize.tmpl" (dict "color" "cyan" "style" "bold" "text"
    "a few questions"))
    "as part of the configuration process to set some basic settings. Some of the settings will be"
        (includeTemplate "colorize.tmpl" (dict "color" "yellow" "style" (list "bold" "italic") "text"
    "derived automatically."))
) -}}
{{- $email := promptStringOnce . "email" (printf "%s %s %s. %s %s"
        (includeTemplate "colorize.tmpl" (dict "color" "cyan" "style" "bold" "text"
    "[CONFIG]:"))
    "Please enter your"
        (includeTemplate "colorize.tmpl" (dict "color" "cyan" "style" (list "bold" "italic") "text"
    "email address"))
    "It will be used in"
        (includeTemplate "colorize.tmpl" (dict "color" "yellow" "style" (list "bold" "italic") "text"
    "git, ssh-keygen"))
) -}}
{{- $detected_username := "" -}}
{{- if eq .chezmoi.os "windows" -}}
    {{- $detected_username = env "USERNAME" | default "unknown" -}}
{{- else -}}
    {{- $detected_username = env "USER" | default "unknown" -}}
{{- end -}}
{{- $username_input := promptStringOnce . "username" (printf "%s %s %s %s %s. %s"
        (includeTemplate "colorize.tmpl" (dict "color" "cyan" "style" "bold"
    "text" "[CONFIG]:"))
    "Please enter your"
        (includeTemplate "colorize.tmpl" (dict "color" "cyan" "style" (list "bold" "italic")
    "text" "username."))
    "Detected username:"
        (includeTemplate "colorize.tmpl" (dict "color" "yellow" "style" (list "bold" "italic") "text"
    $detected_username))
    "Leave the prompt blank to use the detected username."
) -}}
{{- $username := $username_input | default $detected_username -}}

{{/* OS & WSL detection */}}
{{- $osid := .chezmoi.os -}}
{{- if (and (hasKey .chezmoi "osRelease") (hasKey .chezmoi.osRelease "id")) -}}
    {{- $osid = printf "%s-%s" $osid .chezmoi.osRelease.id -}}
    {{- writeToStdout (printf "%s %s\n"
            (includeTemplate "colorize.tmpl" (dict "style" (list "dim" "italic") "text"
        "[INFO]: OS detected as"))
            (includeTemplate "colorize.tmpl" (dict "color" "yellow" "style" "italic" "text"
        $osid))
    ) -}}
{{- end -}}
{{- $is_wsl := (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) -}}
{{- if $is_wsl -}}
    {{- writeToStdout (printf "\n%s %s %s\n"
            (includeTemplate "colorize.tmpl" (dict "color" "yellow" "style" "bold" "text" 
        "[WSL]:"))
        "Running on WSL. GUI applications and Hyprland"
            (includeTemplate "colorize.tmpl" (dict "color" "red" "style" (list "bold" "italic") "text"
        "will not be installed and/or set up!"))
    ) -}}
{{- end -}}

{{- /* Apps to install 
     * dict: key is application name, value is a dict where:
     * "bin" - name of the binary (used to check if the program is already installed)
     * "pkg" - pacman package name, "winget" - winget package name
     * "win_patterns" - glob patterns for Windows binaries and paths
     * if "pkg" and "winget" are not provided, install and update scripts may be provided instead
*/ -}}
{{/* Common apps */}}
{{- $apps := dict
    "rustup"   (dict "bin" "rustup"   "install_linux" "curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh" "install_windows" "Write-Host \"Install rustup via the provided installer\" -ForegroundColor Yellow; start \"https://rust-lang.org/tools/install/\"; Start-Sleep -Seconds 5" "update_linux" "rustup self update" "update_windows" "rustup self update" "win_patterns" (list ".cargo/bin/rustup.exe"))
    "uv"       (dict "bin" "uv" "install_linux" "curl -LsSf https://astral.sh/uv/install.sh | sh" "install_windows" "powershell -ExecutionPolicy ByPass -c \"irm https://astral.sh/uv/install.ps1 | iex\"" "update_linux" "uv self update" "update_windows" "uv self update" "win_patterns" (list ".cargo/bin/uv.exe" ".local/bin/uv.exe"))

    "cmake"    (dict "bin" "cmake"    "pkg" "cmake"    "winget" "Kitware.CMake"      "win_patterns" (list "cmake.exe"))
    "neovim"   (dict "bin" "nvim"     "pkg" "neovim"   "winget" "Neovim.Neovim"      "win_patterns" (list "*eovim/bin/nvim.exe" "nvim-win64/bin/nvim.exe"))
    "starship" (dict "bin" "starship" "pkg" "starship" "winget" "Starship.Starship"  "win_patterns" (list "*tarship/bin/starship.exe" "starship.exe"))
    "git-lfs"  (dict "bin" "git-lfs"  "pkg" "git-lfs"  "winget" "GitHub.GitLFS"      "win_patterns" (list "Git LFS/git-lfs.exe" "Git/cmd/git-lfs.exe"))
    "bat"      (dict "bin" "bat"      "pkg" "bat"      "winget" "sharkdp.bat"        "win_patterns" (list "bat.exe"))
    "zoxide"   (dict "bin" "zoxide"   "pkg" "zoxide"   "winget" "ajeetdsouza.zoxide" "win_patterns" (list "zoxide.exe"))
    "fzf"      (dict "bin" "fzf"      "pkg" "fzf"      "winget" "junegunn.fzf"       "win_patterns" (list "fzf.exe"))
    "ripgrep"  (dict "bin" "rg"       "pkg" "ripgrep"  "winget" "BurntSushi.ripgrep.MSVC" "win_patterns" (list "rg.exe"))
    "fd"       (dict "bin" "fd"       "pkg" "fd"       "winget" "sharkdp.fd"         "win_patterns" (list "fd.exe"))
    "eza"      (dict "bin" "eza"      "pkg" "eza"      "winget" "eza-community.eza"  "win_patterns" (list "eza.exe"))
-}}
{{- $pacman_name := "(unknown package manager)" -}}
{{/* Linux apps */}}
{{- if eq .chezmoi.os "linux" -}}
{{- $pacman_name = "pacman" -}}
    {{- $apps_linux := dict 
    "fish"     (dict "bin" "fish"     "pkg" "fish")
    "gitui"    (dict "bin" "gitui"    "pkg" "gitui")
    -}}
    {{- range $k, $v := $apps_linux -}}
        {{- $_ := set $apps $k $v -}}
    {{- end -}}
{{- end -}}
{{/* Linux apps (non-WSL) */}}
{{- if (and (eq .chezmoi.os "linux") (not $is_wsl)) -}}
    {{- $apps_linux_non_wsl := dict 
    -}}
    {{- range $k, $v := $apps_linux_non_wsl -}}
        {{- $_ := set $apps $k $v -}}
    {{- end -}}
{{- end -}}

{{/* Windows apps */}}
{{- if eq .chezmoi.os "windows" -}}
{{- $pacman_name = "winget" -}}
    {{- $apps_windows := dict 
    "less"     (dict "bin" "less" "winget" "jftuga.less" "win_patterns" (list "less.exe" "lesskey.exe"))
    -}}
    {{- range $k, $v := $apps_windows -}}
        {{- $_ := set $apps $k $v -}}
    {{- end -}}
{{- end -}}

{{/* Interactive app selection */}}
{{- writeToStdout (printf "\n%s %s %s %s %s\n"
    "Next, you will be asked if you want to"
        (includeTemplate "colorize.tmpl" (dict "color" "cyan" "style" "bold" "text"
    "install or update"))
    "several apps using the"
        (includeTemplate "colorize.tmpl" (dict "color" "yellow" "style" "bold" "text"
    $pacman_name))
    "package manager."
) -}}
{{- $final_apps := dict -}}
{{- range $id, $app := $apps -}}
    {{- $is_installed := false -}}
    {{- $installed_path := "" -}}

    {{- /* should be enough to check if an app is installed on Linux */ -}}
    {{- if (lookPath $app.bin) -}}
        {{- $is_installed = true -}}
    {{- else if eq $.chezmoi.os "windows" -}}
        {{- /* Check if app is installed using where.exe */ -}}
        {{- /* Check PATH, winget, Program Files, C:\Programs, D:\Programs paths */ -}}
        {{- $win_search_roots := list
	    (printf "%s/AppData/Local/Microsoft/WinGet/Links/%s.exe" $.chezmoi.homeDir $app.bin)
	    "C:/Program Files"
	    "C:/Program Files (x86)"
	    $.chezmoi.homeDir
	    (printf "%s/.local" $.chezmoi.homeDir)
     	    "C:/Programs"
	    "D:/Programs"
	-}}
	{{- range $root := $win_search_roots -}}
	    {{- if not $is_installed -}}
	        {{- range $pattern := (index $app "win_patterns") -}}
		    {{- $matches := glob (printf "%s/%s" $root $pattern) -}}
		    {{- if $matches -}}
		        {{- $is_installed = true -}}
			{{- $installed_path = index $matches 0 -}}
			{{- break -}}
		    {{- end -}}
		{{- end -}}
	    {{- end -}}
	{{- end -}}
    {{- end -}}

    {{- /* Prompt the user */ -}}
    {{- $should_install := false -}}
    {{- $should_update := false -}}

    {{- if $is_installed -}}
	{{- $status := "found in PATH" -}}
        {{- if $installed_path -}}
	    {{- $status = printf "found at %s" $installed_path -}}
	{{- end -}}
    {{- $msg := printf "%s %s %s (%s). %s %s %s"
            (includeTemplate "colorize.tmpl" (dict "color" "yellow" "style" "bold" "text"
        "[APP]:"))
            (includeTemplate "colorize.tmpl" (dict "color" "cyan" "style" (list "italic" "bold") "text"
        $id))
        "already exists"
            (includeTemplate "colorize.tmpl" (dict "color" "yellow" "text"
        $status))
        "Do you wish to"
            (includeTemplate "colorize.tmpl" (dict "color" "yellow" "style" "bold" "text"
        "UPDATE"))
        "it (y/n)"
    -}}
	{{- $should_update = promptBoolOnce $ (printf "update_%s" $id) $msg -}}
    {{- else -}}
        {{- $msg := printf "%s %s %s"
                (includeTemplate "colorize.tmpl" (dict "color" "yellow" "style" "bold" "text"
            "[APP]:"))
            "Install"
                (includeTemplate "colorize.tmpl" (dict "color" "cyan" "style" (list "italic" "bold") "text"
            $id))
            "(y/n)"
        -}}
	{{- $should_install = promptBoolOnce $ (printf "install_$s" $id) $msg -}}
    {{- end -}}

    {{- /* Collect all apps */ -}}
    {{- $app_data := dict "is_installed" (or $is_installed $should_install) "install" $should_install "update" $should_update -}}
    {{- range $k, $v := $app -}}
        {{- if ($k | contains "win") -}}
	    {{- if eq $.chezmoi.os "windows" -}}
                {{- $_ := set $app_data $k $v -}}
	    {{- end -}}
	{{- else -}}
	    {{- $_ := set $app_data $k $v -}}
	{{- end -}}
    {{- end -}}
    {{- $_ := set $final_apps $id $app_data -}}
{{- end -}}


{{/* Git Credential Manager path for WSL */}}
{{- $gcm_path := "" -}}
{{- if $is_wsl -}}
    {{- $win_git_exe := output "sh" "-c" "cmd.exe /c 'where git.exe' 2>/dev/null | head -n 1" | trim -}}
    {{- if $win_git_exe -}}
        {{- $git_path_wsl := output "wslpath" "-u" $win_git_exe | trim -}}
	{{- $potential_gcm_path := printf "%s/../mingw64/bin/git-credential-manager.exe" (dir $git_path_wsl) -}}
	{{- if (stat $potential_gcm_path) -}}
	    {{- $gcm_path = $potential_gcm_path -}}
	    {{- writeToStdout (printf "%s %s %s %s %s\n"
                (includeTemplate "colorize.tmpl" (dict "color" "yellow" "style" "bold" "text"
            "[WSL]:"))
            "Using"
                (includeTemplate "colorize.tmpl" (dict "style" "bold" "text"
            "Windows' Git Credential Manager"))
            "at"
                (includeTemplate "colorize.tmpl" (dict "style" (list "bold" "italic") "text"
            $gcm_path))
        ) -}}
	{{- end -}}
    {{- end -}}
{{- end -}}


############
### DATA ###
############

# queries are at the top of the file
[data]
    # User data
    email = {{ $email | quote }}
    username = {{ $username | quote }}

    # OS data
    osid = {{ $osid | quote }}

    # WSL-specific
    is_wsl = {{ $is_wsl }}
    gcm_path = {{ $gcm_path | quote }}

    # has_gui = {{ if or (eq .chezmoi.os "windows") (and (eq .chezmoi.os "linux") (not $is_wsl)) }} true {{ else }} false {{ end }}

    # Applications
    apps = {{ $final_apps | toJson | quote }}

###############
### CHEZMOI ###
###############
progress = true


{{- /* .chezmoi.toml done */ -}}
{{- writeToStdout (printf "\n%s %s %s! %s %s %s\n"
        (includeTemplate "colorize.tmpl" (dict "color" "cyan" "style" "bold" "text"
    "[CONFIG]:"))
    "Configuration initialization (.chezmoi.toml)"
        (includeTemplate "colorize.tmpl" (dict "color" "green" "style" "bold" "text"
    "completed successfully"))
    "Run"
        (includeTemplate "colorize.tmpl" (dict "color" "cyan" "style" (list "bold" "italic") "text"
    "chezmoi apply"))
    "to apply the configuration."
) -}}

