{{ $apps := .apps | fromJson -}}

[user]
    name = {{ .username }}
    email = {{ .email }}
    signingkey = ~/.ssh/id_ed25519.pub

[gpg]
    format = ssh

[commit]
    gpgsign = true

[tag]
    gpgsign = true

[init]
    defaultBranch = master

[core]
    autocrlf = {{ if eq .chezmoi.os "windows" }} true {{ else }} input {{ end }}
    {{ if (index $apps "neovim").is_installed -}}
    editor = nvim
    {{- end }}

[credential]
    {{- if eq .chezmoi.os "windows" }}
    helper = manager
    {{- else if .is_wsl }}
        {{- if .gcm_path }}
    # Found relative to git.exe
    helper = {{ .gcm_path | quote | replace " " "\\ " }}
    	{{- else }}
    # GCM not found. Using WSL cache
    helper = cache
    	{{- end }}
    {{- else }}
    helper = cache
    {{- end }}

{{ if ($.apps | lower | contains "lfs") -}}
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
{{- end }}

# [include]
#     path = ~/.gitconfig.local
