{{ template "colorize_ps1.tmpl" }}

$fonts = @(
    "JetBrainsMono",
    "NerdFontsSymbolsOnlyMono"
)

if (!(Get-Module -ListAvailable -Name NerdFonts))
{
    Log-Info "[b][bcyan]NerdFonts[/bcyan] PowerShell module[/b] needed to install fonts. Trying to install..."
    
    if (!(Get-Command Install-PSResource -ErrorAction SilentlyContinue))
    {
        Install-Module -Name Microsoft.PowerShell.PSResourceGet -Force -Scope CurrentUser
    }
    Install-PSResource -Name NerdFonts
    Log-Success "[b][bcyan]NerdFonts[reset] module installed!"
}

Import-Module -Name NerdFonts

$installedFonts = (New-Object System.Drawing.Text.InstalledFontCollection).Families.Name

foreach ($font in $fonts)
{
    if ($installedFonts -contains $font -or $installedFonts -replace '\s', '' -contains $font)
    {
        Log-Info "[d]Font [b][bcyan]$font[reset][d] is already installed, skipping[/d]"
        continue
    }

    Log-Info "Installing font [b][bcyan]$font[reset]"
    try
    {
        Install-NerdFont -Name $font
        Log-Success "Font [b][bcyan]$font[reset] installed successfully!"
    }
    catch
    {
        Log-Err "Failed to install [b][byellow]$font[reset] : [i]$($_.Exception.Message)[/i]"
    }
}

Log-Success "All fonts installed successfully!"
