{{ template "colorize_ps1.tmpl" }}

Log-Info "Setting up [i]ssh-agent service[/i], you will see a prompt to [b][red]elevate this (and only this!) script's permissions[reset]"

# Self-elevate the script if required
if (-Not ([Security.Principal.WindowsPrincipal] [Security.Principal.WindowsIdentity]::GetCurrent()).IsInRole([Security.Principal.WindowsBuiltInRole] 'Administrator'))
{
    if ([int](Get-CimInstance -Class Win32_OperatingSystem | Select-Object -ExpandProperty BuildNumber) -ge 6000)
    {
        $CommandLine = "-File `"" + $MyInvocation.MyCommand.Path + "`" " + $MyInvocation.UnboundArguments
        Start-Process -Wait -FilePath pwsh.exe -Verb Runas -ArgumentList $CommandLine
    Exit
    }
}

### ssh-agent
$sshAgent = Get-Service -Name ssh-agent -ErrorAction SilentlyCOntinue
if ($sshAgent)
{
    if ($sshAgent.Status -ne 'Running' -or $sshAgent.Status -ne 'Automatic')
    {
        try
	{
	    powershell -Command "Start-Process powershell -Verb RunAs -ArgumentList 'Set-Service ssh-agent -StartupType Automatic; Start-Service ssh-agent'"
	    Log-Info "[i]ssh-agent service[/i] started"
	}
	catch
	{
	    Log-Warn "[i]ssh-agent[/i] is [b][red]not running[reset]. Try running [b][i]Start-Service ssh-agent[reset] as [b]an administrator[/b]"
	}
    }
}

Log-Info "This window will be closed automatically in [sb]3 seconds[/sb]"
Start-Sleep 3
Exit
