{{ template "colorize_ps1.tmpl" }}

{{ $apps := .apps | fromJson -}}

{{ if (index $apps "neovim").is_installed -}}
Log-Info "You chose to install [b][bcyan]neovim[reset]! However..."
Log-Warn "Note that for proper [b][i]treesitter[reset] support you [b][byellow]MUST[reset] install tree-sitter-cli."

{{ if (index $apps "rustup").is_installed -}}
Log-Info "Checking for [b][bcyan]rustup[reset]..."
if (Get-Command {{ $apps.rustup.bin }} -ErrorAction SilentlyContinue)
{
    Log-Info "Found rustup! Checking for [b][bcyan]cargo[reset]..."
    if (Get-Command "cargo" -ErrorAction SilentlyContinue)
    {
    	Log-Info "Found [b][bcyan]cargo[reset]! Installing [b][bcyan]tree-sitter-cli[reset]"
    	cargo install --locked tree-sitter-cli
    }
    else
    {
        Log-Err "Could not find [b][bcyan]cargo[reset]! Have you installed [b][bcyan]rustup[reset]? Perhaps you should [b][byellow]relaunch your shell[reset] if you installed [b][bcyan]rustup[reset] just now."
    }
}
{{- else }}
Log-Err "[b][bcyan]rustup[reset] not found! [b][bcyan]tree-sitter-cli[reset] probably [i]won't be installed[/i]!"
{{- end }}
{{- end }}
