#!/bin/bash
{{ template "colorize_sh.tmpl" }}

{{ $apps := .apps | fromJson -}}
PKG_TO_INSTALL=()  # packages for pacman

# Updating and installing apps one-by-one
{{ range $id, $app := $apps -}}
# --- {{ $id }}
{{ if $app.update -}}
    {{ if hasKey $app "update_linux" -}}
        log_info "Updating [b][bcyan]{{ $id }}[reset] via its custom command:"
        log_info "[d][i]{{ $app.update_linux }}[/i][/d]"
        {{ $app.update_linux }}
        log_success "[b][bcyan]{{ $id }}[reset] updated successfully!"
    {{ else if hasKey $app "pkg" -}}
        PKG_TO_INSTALL+=("{{ $app.pkg }}")
    {{ end -}}
{{ else if $app.install -}}
    {{/* The app might be installed already! */}}
    {{ if hasKey $app "install_linux" -}}
        # Check if it is already installed
	if ! command -v {{ $app.bin }} &> /dev/null; then
	    log_info "Installing [b][bcyan]{{ $id }}[reset] via its custom command:"
	    log_info "[d][i]{{ $app.install_linux }}[/i][/d]"
	    {{ $app.install_linux }}
	    log_success "[b][bcyan]{{ $id }}[reset] installed successfully!"
	else
	    log_info "[d]Found [b][bcyan]{{ $id }}[reset][d], skipping install[/d]"
	fi
    {{ else if hasKey $app "pkg" -}}
        if ! pacman -Qq {{ $app.pkg }} &> /dev/null; then
            PKG_TO_INSTALL+=("{{ $app.pkg }}")
	fi
    {{ end -}}
{{ end -}}

{{ end -}}


# pacman package installation
if [ ${#PKG_TO_INSTALL[@]} -gt 0 ]; then
    log_info "Installing/Updating via pacman: [b][bcyan]${PKG_TO_INSTALL[*]}[reset]"
    sudo pacman -S --needed "${PKG_TO_INSTALL[@]}"
fi

log_success "All apps installed/updated successfully!"

log_warn "Don't forget to [b][byellow]restart your shell[reset], its configuration may have updated!"

