#!/bin/bash
{{ template "colorize_sh.tmpl" }}

if systemctl --user >/dev/null 2>&1; then
    log_info "Enabling [i]ssh-agent systemd service[/i]"
    systemctl --user daemon-reload
    systemctl --user enable --now ssh-agent.service
    log_success "ssh-agent started. It will now start on boot!"
else
    log_err "systemd [b]not found[/b]. If this is WSL, enable it in [b][i]/etc/wsl.conf![/i][/b]"
fi

{{ if .is_wsl -}}
log_warn "Do not forget to enable boot.systemd in /etc/wsl.conf!"
log_warn "/etc/wsl.conf\n[boot]\nsystemd=true"
{{- end }}
