#!/bin/bash
{{ template "colorize_sh.tmpl" }}

{{ $apps := .apps | fromJson -}}

{{ if (index $apps "neovim").is_installed -}}
log_info "You chose to install [b][bcyan]neovim[reset]! However..."
log_warn "Note that for proper [b][i]treesitter[reset] support you [b][byellow]MUST[reset] install tree-sitter-cli."

{{ if (index $apps "rustup").is_installed -}}
log_info "Checking for [b][bcyan]rustup[reset]..."
if command -v {{ $apps.rustup.bin }} &> /dev/null;then
    log_info "Found rustup! Checking for [b][bcyan]cargo[reset]..."
	if command -v "cargo" &> /dev/null; then
    	log_info "Found [b][bcyan]cargo[reset]! Installing [b][bcyan]tree-sitter-cli[reset]"
    	cargo install --locked tree-sitter-cli
	else
        log_err "Could not find [b][bcyan]cargo[reset]! Have you installed [b][bcyan]rustup[reset]? Perhaps you should [b][byellow]relaunch your shell[reset] if you installed [b][bcyan]rustup[reset] just now."
	fi
fi
{{- else }}
log_err "[b][bcyan]rustup[reset] not found! [b][bcyan]tree-sitter-cli[reset] probably [i]won't be installed[/i]!"
{{- end }}
{{- end }}
