{{ if (and (eq .chezmoi.os "linux") (not .is_wsl)) -}}
#!/bin/bash
{{ template "colorize_sh.tmpl" }}

# Fonts and the font folder
FONT_NAMES=("ttf-jetbrains-mono-nerd" "noto-fonts" "noto-fonts-extra")

TO_INSTALL=()
for font in "${FONT_NAMES[@]}"; do
    if ! pacman -Qq "$font" &> /dev/null; then
        TO_INSTALL+=("$font")
    fi
done

if [ ${#TO_INSTALL[@]} -eq 0 ]; then
    log_warn "All fonts are already installed."
    exit 0
fi

log_info "Installing the following fonts: [b][bcyan]${TO_INSTALL[@]}[reset]"
sudo pacman -S --needed "${TO_INSTALL[@]}"

log_info "Updating font cache"
fc-cache -fv

log_info "Fonts installed successfully!"
{{ end -}}
