#!/bin/bash
{{ template "colorize_sh.tmpl" }}

# Generate SSH keypair for Linux, if nonexistent
if [ ! -f "$HOME/.ssh/id_ed25519" ]; then
    log_info "Generating an [i]SSH keypair[/i]"
    # Generate an ed25519 keypair with a comment: username-mail@domain.name
    # It will prompt for a passphrase for the key
    log_info "Please enter a [b][bwhite]secure passphrase[reset] for your SSH key and remember it"
    ssh-keygen -t ed25519 -C "{{ .username }}-{{ .email }}" -f "$HOME/.ssh/id_ed25519"
    log_success "SSH key generated successfully"
    log_info "Don't forget to add [b][byellow]this public key[reset] to your GitHub (or other) account:"
    cat "$HOME/.ssh/id_ed25519.pub"
fi
