#!/bin/bash
# Generate SSH keypair for Linux, if nonexistent
if [ ! -f "$HOME/.ssh/id_ed25519" ]; then
    echo "Generating an SSH keypair"
    # Generate an ed25519 keypair with a comment: username-mail@domain.name
    # It will prompt for a passphrase for the key
    echo "Please enter a secure passphrase for your SSH key and remember it"
    ssh-keygen -t ed25519 -C "{{ .username }}-{{ .email }}" -f "$HOME/.ssh/id_ed25519"
    echo "SSH key generated successfully"
    echo "Don't forget to add this public key to your GitHub (or other) account:"
    cat "$HOME/.ssh/id_ed25519.pub"
fi
