#!/bin/bash

# Colorize output
set_colors()
{
    if [ -t 1 ]; then
        RED='\033[0;31m'
        GREEN='\033[0;32m'
        YELLOW='\033[1;33m'
        BLUE='\033[0;34m'
        NC='\033[0m'
    else
        RED=''
        GREEN=''
        YELLOW=''
        BLUE=''
        NC=''
    fi
}
set_colors

log_info() { echo -e "${BLUE}[INFO]${NC} $1"; }
log_success() { echo -e "${GREEN}[SUCCESS]${NC} $1"; }
log_warn() { echo -e "${YELLOW}[WARNING]${NC} $1"; }
log_err() { echo -e "${RED}[ERROR]${NC} $1"; }

{{ $apps := .apps | fromJson -}}

{{ if (index $apps "neovim").is_installed -}}
log_info "You chose to install neovim! However..."
log_warn "Note that for proper treesitter support you MUST install tree-sitter-cli."

{{ if (index $apps "rustup").is_installed -}}
log_info "Checking for rustup..."
if command -v {{ $apps.rustup.bin }} &> /dev/null;then
    log_info "Found rustup! Checking for cargo..."
	if command -v "cargo" &> /dev/null; then
    	log_info "Found cargo! Installing tree-sitter-cli"
    	cargo install --locked tree-sitter-cli
	else
        log_error "Could not find cargo! Have you installed rustup?"
	fi
fi
}
{{- else }}
log_error "rustup not found! tree-sitter-cli probably won't be installed!"
{{- end }}
{{- end }}
